name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: ['8.2', '8.3', '8.4']
        laravel: ['10.*', '11.*', '12.*']
        testbench: ['8.*', '9.*', '10.*']
        exclude:
          - php: '8.4'
            laravel: '10.*'
          - laravel: '10.*'
            testbench: '9.*'
          - laravel: '10.*'
            testbench: '10.*'
          - laravel: '11.*'
            testbench: '8.*'
          - laravel: '11.*'
            testbench: '10.*'
          - laravel: '12.*'
            testbench: '8.*'
          - laravel: '12.*'
            testbench: '9.*'

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --prefer-stable --prefer-dist --no-interaction

      - name: Run tests
        run: vendor/bin/pest
